/*
    GENERAL STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background:#ffffff;
}

.row div img {
    width: 100%;
    height: auto;
    display: block;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.container {
    margin-top:10px;
}

#mada {
    height:auto;
    width:auto;
}

#madacol {
    margin-top:5px;
}

#line {
    background-color:#7d97ad;
    height:4px;
    margin-top:5px;
}

#madathumb {
    margin-top:35px;
}

#panocol {
    margin-top:5px;
}

#headername {
    text-align:right;
}

#headerlogo {
    width:auto;
    height:auto;
}

#myname {
    margin-right:30px;
}

[id^="madapic"] {
    height:auto;
    margin-top:10px;
    margin-bottom:10px;
    background-color:Gainsboro;
}

.row .thumbnail img {
    height:auto;
    width:auto;
}

.row .thumbnail h4 {
    text-align: center;
}

#info {
    clear:both;
    background-color:beige;
    margin-top:10px;
    padding-bottom:10px;
}

[id^="plant"] {
    margin-left:35px;
}

[id^="para"] {
    display:inline;
}

footer {
    margin-top: 10px;
    margin-left: 20px;
    color: black;
    clear:both;
}

.fa-linkedin {
    color:white;
    background-color: #0077B5;
}

.profile {
    overflow-wrap:break-word;
    word-wrap: break-word;
}

